<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{typeCount('Space Debris')}}</span></div>
   <div>Communication: <span>{{typeCount('Communication')}}</span></div>
   <div>Probe: <span>{{typeCount('Probe')}}</span></div>
   <div>Positioning: <span>{{typeCount('Positioning')}}</span></div>
   <div>Space Station: <span>{{typeCount('Space Station')}}</span></div>
   <div>Telescope: <span>{{typeCount('Telescope')}}</span></div>
</div>
