.sortable {
    cursor: pointer;
    color: #dd5;
    background-color: #34495E;
}



table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dad8d8;
}
tr:nth-child(odd) {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: lightcyan;
} 

thead > tr {
    background-color: #34495E;
}
.header-row {
    background-color: #34495E;
    color: #fff
}

.notSortable {
    background-color: #34495E;
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.warning {
    background-color: #da8a8a;
}